.deps
*~
*.buildinfo
*.changes
*.ddeb
*.deb
*.dsc
*.o
*.spec
*.tar.gz
*.tar.xz
*.1
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
debian/changelog
src/hpiinfo
src/hpiinfo_cmd/hpiinfo-cmd
xdg/install_usermode.sh